! ------~------~
!Anthony Clark
! ------~------~
! Colors taken from someone on
! `dotshare.it`
*foreground: #DDDDDD
*background: #0f0f0f

!black
*color0: #393939
*color8: #474747

!red
*color1: #da4939
*color9: #ff6c5c

!green
*color2: #519f50
*color10: #a5c261

!yellow
*color3: #cc7833
*color11: #bc9458

!blue
*color4: #6d9cbe
*color12: #6d9cbe

!magenta
*color5: #9f5079
*color13: #a761c2

!cyan
*color6: #435d75
*color14: #6e98a4

!white
*color7: #dddddd
*color15: #dddddd

! -------------------------- URxvt-specific stuff
URxvt.keysym.Home        :  \033[1~
URxvt.keysym.End         :  \033[4~
URxvt*borderColor        :  #0f0f0f
URxvt*colorBD            :  #ffffff
URxvt*colorIT            :  #a761c2
URxvt*colorUL            :  #6d9cbe
URxvt*underlineColor     :  #333333

URxvt*highlightColor     :  #a761c2
URxvt*highlightTextColor :  #0f0f0f

URxvt*cursorColor        :  #ff8939
URxvt*cursorColor2       :  #0f0f0f

URxvt*font               :  xft:dina:pixelsize=10:antialias=true:hinting:true
URxvt*boldFont           :  xft:dina:bold:pixelsize=10:antialias=true:hinting:true

URxvt*cursorBlink        :  true
URxvt*cursorUnderline    :  false

URxvt*geometry           :  75x15
URxvt*internalBorder     :  3

URxvt*depth              :  24

URxvt*scrollBar          :  false
URxvt*scrollBar_right    :  true
URxvt*scrollstyle        :  plain
URxvt*scrollColor        :  #2873a2
URxvt*scrollWithBuffer   :  false
URxvt*scrollTtyOutput    :  true
URxvt*saveLines          :  65535

URxvt*urgentOnBell       :  true

URxvt*pointerBlank       :  true

URxvt.perl-ext-common    :  default,tabbedex
URxvt.tabbed.autohide    :  true
URxvt.tabbed.new-button  :  false
URxvt.tabbed.title       :  false
URxvt.tabbed.tabbar-fg   :  8
URxvt.tabbed.tabbar-bg   :  0
URxvt.tabbed.tab-fg      :  6
URxvt.tabbed.tab-bg      :  0

Xft.autohint             :  0
Xft.lcdfilter            :  lcddefault
Xft.hintstyle            :  hintfull
Xft.hinting              :  1
Xft.antialias            :  1
Xft.dpi                  :  96
Xft.rgba                 :  rgb

! --------------------------- DDD specific stuff
Ddd*enableThinThickness                         : True
Ddd*enableEtchedInMenu                          : True
Ddd*enableToggleColor                           : True
Ddd*enableToggleVisual                          : True
Ddd*XmText.background                           : #ffffff
Ddd*XmTextField.background                      : #ffffff
Ddd*XmList.background                           : #ffffff
Ddd*GraphEdit.background                        : #ffffff
Ddd*shadowThickness                             : 1
Ddd*borderThickness                             : 0
Ddd*?*arg*shadowThickness                       : 1
Ddd*?*arg*borderThickness                       : 0
Ddd*?*buttons*shadowThickness                   : 1
Ddd*?*buttons*borderThickness                   : 0
Ddd*menubar*marginTop                           : 1
Ddd*menubar*marginBottom                        : 0
Ddd*XmMenuShell*marginTop                       : 2
Ddd*XmMenuShell*marginBottom                    : 2
Ddd*XmMenuShell.?.marginWidth                   : 2
Ddd*XmMenuShell.?.marginHeight                  : 2
Ddd*toolbar*marginWidth                         : 5
Ddd*XmMenuShell*XmTearOffButton*borderWidth     : 0
Ddd*XmMenuShell*XmTearOffButton*marginHeight    : 0
Ddd*XmToggleButton*shadowThickness              : 0
Ddd*XmToggleButton*borderThickness              : 0
Ddd*menubar.shadowThickness                     : 0
Ddd*menubar.borderThickness                     : 0
Ddd*XmMenuShell*XmTearOffButton*ShadowThickness : 2
Ddd*main_window.?.borderThickness               : 0
Ddd*main_window.shadowThickness                 : 0
Ddd*toolbar.shadowThickness                     : 0
Ddd*toolbar.?.shadowThickness                   : 1
Ddd*cutCopyPasteBindings                        : KDE
Ddd*selectAllBindings                           : KDE
Ddd*buttonColorKey                              : c
Ddd*FlatButtons                                 : on


! --------------------------- XCALC stuff
xcalc*geometry                        : 200x275
xcalc.ti.bevel.background             : #111111
xcalc.ti.bevel.screen.background      : #000000
xcalc.ti.bevel.screen.DEG.background  : #000000
xcalc.ti.bevel.screen.DEG.foreground  : LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background : #000000
xcalc.ti.bevel.screen.GRAD.foreground : LightSeaGreen
xcalc.ti.bevel.screen.RAD.background  : #000000
xcalc.ti.bevel.screen.RAD.foreground  : LightSeaGreen
xcalc.ti.bevel.screen.INV.background  : #000000
xcalc.ti.bevel.screen.INV.foreground  : Red
xcalc.ti.bevel.screen.LCD.background  : #000000
xcalc.ti.bevel.screen.LCD.foreground  : LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth : 0
xcalc.ti.bevel.screen.M.background    : #000000
xcalc.ti.bevel.screen.M.foreground    : LightSeaGreen
xcalc.ti.bevel.screen.P.background    : #000000
xcalc.ti.bevel.screen.P.foreground    : Yellow
xcalc.ti.Command.foreground           : White
xcalc.ti.Command.background           : #777777
xcalc.ti.button5.background           : Orange3
xcalc.ti.button19.background          : #611161
xcalc.ti.button18.background          : #611161
xcalc.ti.button20.background          : #611111
xcalc.ti.button25.background          : #722222
xcalc.ti.button30.background          : #833333
xcalc.ti.button35.background          : #944444
xcalc.ti.button40.background          : #a55555
xcalc.ti.button22.background          : #222262
xcalc.ti.button23.background          : #222262
xcalc.ti.button24.background          : #222272
xcalc.ti.button27.background          : #333373
xcalc.ti.button28.background          : #333373
xcalc.ti.button29.background          : #333373
xcalc.ti.button32.background          : #444484
xcalc.ti.button33.background          : #444484
xcalc.ti.button34.background          : #444484
xcalc.ti.button37.background          : #555595
xcalc.ti.button38.background          : #555595
xcalc.ti.button39.background          : #555595
XCalc*Cursor                          : hand2
XCalc*ShapeStyle                      : rectangle
